

#menu-page {
    padding: 100px 15px;
    height:auto;
    width:80%;
  h2{
    font-size:2rem;
    color:#b5945b;
    font-weight: 300;
    text-transform: capitalize;
  }
  p{
    font-family: sans-serif;
    font-size: 1rem;
    color: #7a7879;
  }

  .menu-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: center;
  }

  .menu-box {
    width: 45%; 

    box-sizing: border-box; 
    padding: 10px;
   
}
.single-menu-box{
    width: 100%;
    padding: 20px 100px 100px 100px;
}
.item-box{
    margin:2rem 0;
}

.item-content{
    display: flex;
    align-items: center;
    gap:1rem;

    h3{
        font-size: 1.2rem;
        margin-bottom:1rem;
        font-weight: 500;
    }
    .price{
        font-size: 1.2rem;
        margin-bottom:1rem;
        color: black;
    }
 

    .dashline{
        height: 1.5rem;
        flex: 1;
        border-bottom: 3px dotted #7a7879;
    
    }
}


}
.footer-fullmenu-content{
    margin: 8rem 0;
    display: flex;
    gap:2rem;
    justify-content: center;
}

//all-categories media query
@media (max-width: 1024px) {
    #menu-page {
        width: 100%;
        padding:100px 5px;
       display: flex;
       justify-content: center;

       .single-menu-box{
        width: 100%;
        padding: 20px 20px 0 20px;
    }
    }



}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

#menu-page{

    h2{
        text-align: center;
    }
    p{
       
        font-size: .7rem;
      
      }
    .menu-container{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap:1rem;
        justify-content: start;
        align-items: center;

        .menu-box{
            width: 100%;
          }
      }
    }
}

@media (max-width: 475px) {
    .menu-container{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap:1rem;
        justify-content: start;
        align-items: center;
      }
}
