.mobile-header{
    width: 100%;
    position: fixed;
    height: 85px;
    background-color: white;
    display:none;
    z-index: 100;
  }

.mobile-logo img{
    width:125px;
    margin-left:1rem;

}

.navigation{
    display: none;
    
}

.navigation__button{
    background-color: black;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(#000, .1);
    text-align: center;
    cursor: pointer;

    position: fixed;
    top: 3rem;
    right: 6rem;

    display: none;

}

.navigation__background{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(#262c3b,#99a4c0);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1); 
    /* this is what makes the pop out effect animation */
    
    position: fixed;
    top: 3rem;
    right: 6rem;
    display: none;
}

.navigation__nav{
    height: 100vh;
    position: fixed;
    top: 0;
    left: -20rem;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list{
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: 100%;
}

.navigation__item{
    margin: 1rem;
}

.navigation__link:link, 
.navigation__link:visited{
display: inline-block;
font-size: 3rem;
font-weight: 300;
padding: 1rem 2rem;
color: #fff;
text-decoration: none;
text-transform: uppercase;
background-image: linear-gradient(120deg,transparent 50%, #fff 50%);
background-size: 230%;

transition: all .4s;
}

.navigation__link:hover,
.navigation__link:active {
    background-position: 100%;
    color: #08090c;
    transform: translateX(1rem);
   
}

.navigation__checkbox:checked ~ .navigation__background {

   transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    left: 0;
}


.navigation__icon{
    position: relative;
    margin-top: 3rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 3rem;
    height: 2px;
    
    background-color:white;
    display: inline-block;
 
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}

.navigation__icon::before { top: -.8rem; }
.navigation__icon::after { top: .8rem; }

.navigation__icon::before,
.navigation__icon::after{
    background-color: white;
    display: inline-block;
    width: 3rem;
    height: 2px;
}


.navigation__button:hover .navigation__icon::before {
    top: -1rem;
}

.navigation__button:hover .navigatio.navigation__icon::after {
    top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

@media (max-width: 1024px) {

    .mobile-header{
        display:flex;
        align-items: center;
      }

      .navigation{
        display: block;
      }
 
    .navigation__link:link, 
    .navigation__link:visited{
        font-size: 1.5rem;
  }

  .navigation__button{
    top: .8rem;
    right: .5rem;

    height: 4rem;
    width: 4rem;
    display:block;
  }

  .navigation__background{
    top: .8rem;
    right: .5rem;

    height: 4rem;
    width: 4rem;
    display: block;

}

  .navigation__icon{
    margin-top: 2rem;
}


.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 2.5rem;
    height: 2px;
    
    background-color:white;
    display: inline-block;
 
}



}

